# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\uni\Reliability\L4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
