//
// Symantec Cafe Studio generated header file
//
// This file is intended for use with Windows 95
//

#ifdef JAVA
#define SYMANTEC_JAVA
#else
#include <windows.h>
#include <ver.h>
#endif

#include "resource.k"
















"JavaClient.init" DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE	10, 10, 313, 171, 0
STYLE DS_MODALFRAME | 0x0004 | WS_CAPTION | WS_THICKFRAME | WS_SYSMENU | WS_VISIBLE | WS_POPUP
CAPTION ""
FONT 12, "Arial", 400, 0 /*FALSE*/
BEGIN
    LTEXT           "Status:", label1, 	8,10,28,9, SS_LEFT, , 0
    LTEXT           "", state, 	38,10,202,9, SS_LEFT, , 0
    PUSHBUTTON      "Connect", conn, 	248,2,56,12, 0, , 0
    PUSHBUTTON      "Disconnect", disconn, 	248,17,56,12, WS_DISABLED, , 0
    LTEXT           "Database name:", label3, 	8,40,56,8, SS_LEFT, , 0
    CONTROL         "", dbs1, "Combobox", CBS_SORT | CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP, 	81,40,130,36, , 0
    LISTBOX         keys1, 	81,62,130,49, LBS_NOINTEGRALHEIGHT | LBS_SORT | WS_VSCROLL | WS_TABSTOP, , 0
    LTEXT           "Key:", label4, 	8,62,36,12, SS_LEFT, , 0
    PUSHBUTTON      "New", NewBut1, 	248,40,56,12, WS_DISABLED, , 0
    PUSHBUTTON      "Edit", edit2, 	248,62,56,12, WS_DISABLED, , 0
    PUSHBUTTON      "Save", save1, 	248,102,56,12, WS_DISABLED, , 0
    LTEXT           "Value:", label5, 	8,124,60,12, SS_LEFT, , 0
    EDITTEXT        Desc, 	79,124,225,42, ES_AUTOHSCROLL | ES_MULTILINE | ES_LEFT, , 0
    PUSHBUTTON      "Cancel Edit", cancledt, 	248,79,56,13, WS_DISABLED, , 0
END

"JavaClient.init" DLGINIT
BEGIN
	// Control ID: (Main Form)
	0, 0x414A, 14, 0
		0x0002, 0x0000, 0x0000, 0x756E, 0x6C6C, 0x0000, 0x0000
	0
END

"ConnectionDlg.ConnectionDlg" DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE	10, 10, 214, 55, 0
STYLE DS_MODALFRAME | 0x0004 | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_POPUP
CAPTION ""
FONT 10, "MS Sans Serif", 700, 0 /*FALSE*/
BEGIN
    PUSHBUTTON      "OK", OkB, 	152,4,56,12, 0, , 0
    PUSHBUTTON      "Cancel", CnlB, 	152,20,56,12, 0, , 0
    LTEXT           "Hostname:", label1, 	4,6,44,12, SS_LEFT, , 0
    LTEXT           "Port:", label2, 	4,28,44,12, SS_LEFT, , 0
    EDITTEXT        host, 	55,6,72,12, ES_AUTOHSCROLL | ES_LEFT, , 0
    EDITTEXT        port, 	55,28,72,13, ES_AUTOHSCROLL | ES_LEFT, , 0
END

"ConnectionDlg.ConnectionDlg" DLGINIT
BEGIN
	// Control ID: (Main Form)
	0, 0x414A, 14, 0
		0x0002, 0x0000, 0x0000, 0x756E, 0x6C6C, 0x0000, 0x0000
	0
END

"NewKeyDlg.NewKeyDlg" DIALOGEX MOVEABLE IMPURE LOADONCALL DISCARDABLE	10, 10, 210, 95, 0
STYLE DS_MODALFRAME | 0x0004 | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_POPUP
CAPTION ""
FONT 10, "MS Sans Serif", 700, 0 /*FALSE*/
BEGIN
    PUSHBUTTON      "OK", OkB, 	148,4,56,12, 0, , 0
    PUSHBUTTON      "Cancel", CnlB, 	148,20,56,12, 0, , 0
    LTEXT           "Key Name:", label1, 	9,7,44,13, SS_LEFT, , 0
    LTEXT           "Key Value:", label2, 	9,28,44,12, SS_LEFT, , 0
    EDITTEXT        keyname, 	56,7,72,13, ES_AUTOHSCROLL | ES_LEFT, , 0
    EDITTEXT        keyval, 	8,44,192,44, ES_AUTOHSCROLL | ES_MULTILINE | ES_LEFT, , 0
END

"NewKeyDlg.NewKeyDlg" DLGINIT
BEGIN
	// Control ID: (Main Form)
	0, 0x414A, 14, 0
		0x0002, 0x0000, 0x0000, 0x756E, 0x6C6C, 0x0000, 0x0000
	0
END

